.Button {
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2C3E50;
  color: #ECF0F1;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  transition: color .5s;
}

.Button:hover {
  color: #F1C40F;
}

