@import "../../App";

.Button {
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: $darkBlue;
  color: $fontColor;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
  transition: color .5s, background-color .3s;
  outline: none;

  &:hover {
    color: $activeFontColor;

  }

  &:active {
    background-color: #223244;
  }
}