.wrapSkills {
  padding: 100px 0;
  display: grid;
  background-color: #b6e5ff;
  grid-row-gap: 25px;

  .title {
    text-align: center;
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-items: center;
  }
}

