.Header {
  width: 84%;
  background-color: #2C3E50;
  position: fixed;
  z-index: 100;

  .navigation {
    display: grid;
    grid-template-columns: repeat(6, minmax(70px, 1fr));
    align-items: center;
    justify-items: center;

    .item {
      padding: 10px;
      text-decoration: none;
      color: #ECF0F1;
      transition: color .2s ease-in;
      cursor: pointer;
    }

    .item:hover {
      color: #F1C40F;
    }
  }
}






