@import "./fonts/fonts";

$darkBlue: #2C3E50;
$fontColor: #ECF0F1;
$activeFontColor: #F1C40F;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  user-select: none;
}

.App {
  font-family: 'MontDemo-ExtraLight', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #ECF0F1;
}

.projectWidth {
  padding: 0 6%;
}
