/*appear*/
/*.option-appear {*/
    /*opacity: 0;*/
/*}*/

/*.option-appear.option-appear-active {*/
    /*opacity: .9;*/
    /*transition: opacity .3s ease;*/
/*}*/

/*enter*/
.dimmingOption-enter {
    opacity: 0;
}

.dimmingOption-enter.dimmingOption-enter-active {
    opacity: .9;
    transition: opacity .3s linear;
}

/*exit*/
.dimmingOption-exit {
    opacity: .9;
}

.dimmingOption-exit.dimmingOption-exit-active {
    opacity: 0;
    transition: opacity .3s linear;
}