.work {
  padding: 50px;

  .showWork {
    height: 250px;
    min-width: 250px;
    background: url("img/work.png") 50% no-repeat;
    background-size: cover;

    .wrapperDimmingBlock {
      position: relative;
      height: 250px;

      .dimmingBlock {
        display: grid;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: .9;

        .wrapButton {
          display: flex;
          justify-content: center;
        }

        .topWrapButton {
          align-items: flex-end;
          margin-bottom: 30px;
        }

        .bottomWrapButton {
          align-items: flex-start;
        }
      }
    }
  }
}

