.Contacts {
  background-color: #ffb3bb;
  display: grid;
  grid-template-columns: 2fr 3fr;

  .callBackForm {
    .inputsWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 10px;
      margin-bottom: 10px;
    }
    .messageWrapper {
      height: 150px;

      .yourMessage {
        width: 100%;
        height: 150px;
        resize: none;
      }
    }

  }



}
